Django==2.2
psycopg2-binary>=2.8
psycopg2
django-suit==0.2.26
python-decouple==3.0
djangorestframework==3.12.1
gunicorn
django-heroku==0.3.1
whitenoise==5.3.0
django-sendgrid-v5
drf-yasg2==1.19.4
sentry-sdk